/* Menu */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 12%;
    background: #1f0149;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    border: none;
  }
  
  .logo {
    text-shadow: -1px 1px 0px #00e6e6,
                 -2px 2px 0px #01cccc,
                 -3px 3px 0px #00bdbd;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .logo:hover {
    transform: scale(1.1);
  }
  
  .logo span {
    color: var(--main-color);
    text-shadow: -1px 1px 0px #00e6e6,
                 -2px 2px 0px #01cccc,
                 -3px 3px 0px #00bdbd;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
  }
  
  .menua{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 600;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
  }
  
  .menua:hover {
    border-bottom: 3px solid var(--main-color);
  }
  .kalkulačka-pc{
    background-color: white;
    padding: 9px;
    font-size: 1.8rem;
    color: var(--main-color);
    margin-left: 10rem;
    font-weight: 600;
    transition: 0.3s ease;
    border-radius: 10px;
  }
  .kalkulačka-pc:hover{
    background-color: var(--main-color);
    color: white;

  }
  /* Burger*/

.pozadiBurger {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  display: none;
  width: 50px;
  height: 30px;
}

.burger {
  background-color: #ffffff;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: 0.2s ease;
}
@keyframes outDropdown {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-700px);
  }
}
@keyframes goDropdown {
  0% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(-0px);
  }
}
@keyframes rotateAnimationPrvni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translate(7px, 7px);
  }
}
@keyframes rotateAnimationDruhy {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

@keyframes rotateAnimationPrvniZpet {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes rotateAnimationDruhyZpet {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
.dropdown {
  border: none;
  z-index: 5;
  top: 85px;
  left: 0;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.433);
  backdrop-filter: blur(8px);
  width: 100vw;
  height: calc(100vh - 80px);
  display: none;
  justify-content: center;
}
.pozadiDropdown {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 75%;
}

.dropdownLink {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: var( --main-color);
  border-radius: 20px;
  width: 50%;
  height: 60px;
  font-weight: 600;
  font-size: 15px;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 173, 181, 0.35);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 173, 181, 0.35);
  box-shadow: 0px 0px 5px 5px rgba(0, 173, 181, 0.35);
}
.dropdownLinkCalc {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 50%;
  height: 60px;
  font-weight: 600;
  font-size: 15px;
  color:var( --main-color) ;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 173, 181, 0.35);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 173, 181, 0.35);
  box-shadow: 0px 0px 5px 5px rgba(0, 173, 181, 0.35);
}


@media (max-width: 991px) {
  .header {
    padding: 3rem 6%;
  }
}
@media (max-width: 895px) {
  .logo {
    font-size: 3rem;
    margin-top: 4px;
    margin-left: 11px;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .pozadiBurger {
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    width: 40px;
    height: 40px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar.active {
    display: block;
  }
}
@media only screen and (max-width: 570px) {
  .dropdownLink {
    width: 70%;
    font-size: 19px;
  }
  .dropdownLinkCalc {
    width: 70%;
    font-size: 19px;
  }
}
@media only screen and (max-width: 450px) {
  .dropdownLink {
    width: 70%;
    font-size: 19px;
  }
  .dropdownLinkCalc {
    width: 70%;
    font-size: 19px;
  }
}