* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color:linear-gradient(60deg, rgba(137,44,220,1) 0%, rgba(82,5,123,1) 50%, rgba(0,0,0,1) 100%);
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
