* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color:linear-gradient(-70deg, rgba(182,0,255,1) 0%, rgba(42,5,123,1) 43%, rgba(0,0,0,1) 100%);;
  --second-bg-color: #000000;
  --text-color: white;
  --main-color: #892CDC;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
