* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color:linear-gradient(to right top, #000000, #1e0010, #2a0022, #2c003c, #10005e);
  --second-bg-color: #290061;
  --text-color: white;
  --main-color: #004cda;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}
